@charset "UTF-8";

@font-face {
    font-family: 'pf_beausans_probold';
    src: url('../font/pfbeausanspro-bold-webfont.eot');
    src: url('../font/pfbeausanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/pfbeausanspro-bold-webfont.woff') format('woff'),
        url('../font/pfbeausanspro-bold-webfont.ttf') format('truetype'),
        url('../font/pfbeausanspro-bold-webfont.svg#pf_beausans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_beausans_prolight';
    src: url('../font/pfbeausanspro-light-webfont.eot');
    src: url('../font/pfbeausanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/pfbeausanspro-light-webfont.woff') format('woff'),
        url('../font/pfbeausanspro-light-webfont.ttf') format('truetype'),
        url('../font/pfbeausanspro-light-webfont.svg#pf_beausans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_beausans_proregular';
    src: url('../font/pfbeausanspro-regular-webfont.eot');
    src: url('../font/pfbeausanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/pfbeausanspro-regular-webfont.woff') format('woff'),
        url('../font/pfbeausanspro-regular-webfont.ttf') format('truetype'),
        url('../font/pfbeausanspro-regular-webfont.svg#pf_beausans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_beausans_prosemibold';
    src: url('../font/pfbeausanspro-semibold-webfont.eot');
    src: url('../font/pfbeausanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/pfbeausanspro-semibold-webfont.woff') format('woff'),
        url('../font/pfbeausanspro-semibold-webfont.ttf') format('truetype'),
        url('../font/pfbeausanspro-semibold-webfont.svg#pf_beausans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_beausans_prothin';
    src: url('../font/pfbeausanspro-thin-webfont.eot');
    src: url('../font/pfbeausanspro-thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/pfbeausanspro-thin-webfont.woff') format('woff'),
        url('../font/pfbeausanspro-thin-webfont.ttf') format('truetype'),
        url('../font/pfbeausanspro-thin-webfont.svg#pf_beausans_prothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bfPopup, .bfPopup *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0 !important;
}

.bfPopup{
    width: 600px;
    min-height: 300px;
    background: #ffffff;
    border: 1px solid;
    border-color: #cccccc;
    border-radius: 3px;
}

.popupHeaderWrapper{
    height: 70px;
    background: #008441;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    border-radius: 3px 3px 0 0;
}

.popupHeaderText{
    font-family: 'pf_beausans_proregular';
    font-size: 14px;
    letter-spacing: 0.5px;
}

.popupBodyWrapper{
    min-height: 230px;
    position: relative;
    padding: 60px 25px 135px;
    font-family: 'pf_beausans_prolight';
    font-size: 14px;
    letter-spacing: 0.5px;
}

.popupBodyWrapper .foreignResidenceIterator:not(:first-child){
    margin-top: 10px;
    border-top: 1px solid #eeeeee;
    position: relative;
}

.popupBodyWrapper .foreignResidenceIterator .removeForeignResidence:before{
    font-family: 'FontAwesome';
    content: '\f00d';
    color: #cccccc;
    font-size: 10px;
    position: absolute;
    right: 0px;
    top: 2px;
}

.popupBodyWrapper .foreignResidenceIterator:first-child .removeForeignResidence{
    display: none;
}

.popupBodyWrapper .foreignResidencePanel table{
    width: 100%;
    font-size: 14px;
}

.popupBodyWrapper span.frTitle{
    font-size: 10px;
    color: #008441;
    display: block;
    margin: 10px 0 -10px;
}

.popupBodyWrapper .foreignResidencePanel td{
    vertical-align: top;
    padding: 10px 0 0px;
}

.popupBodyWrapper span.question{
    display: inline-block;
    width: 330px;
    vertical-align: top;
}

.popupBodyWrapper .infoDiv{
    position: relative;
    display: inline-block;
}

.popupBodyWrapper .infoDiv span.infoBalloon{
    display: none;
    padding: 10px;
    text-align: justify;
    width: 290px;
    height: 60px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    position: absolute;
    left: -80px;
    top: -70px;
    font-size: 10px;
    box-shadow: 3px 3px 5px #888888;
}

.popupBodyWrapper .infoDiv span.infoBalloon.showBalloon{
    display: block;
}

.popupBodyWrapper .infoDiv span.infoBalloon:before{
    content: "";
    display: block; /* reduce the damage in FF3.0 */
    position: absolute;
    bottom: -10px;
    left: 70px;
    width: 0;
    border-width: 10px 15px 0;
    border-style: solid;
    border-color: #cccccc transparent;
}

.popupBodyWrapper .infoDiv span.infoBalloon:after{
    content: "";
    display: block; /* reduce the damage in FF3.0 */
    position: absolute;
    bottom: -9px;
    left: 70px;
    width: 0;
    border-width: 10px 15px 0;
    border-style: solid;
    border-color: #ffffff transparent;
}

.popupBodyWrapper .infoDiv span.infoIcon{
    display: inline-block;
    width: 10px;
    height: 14px;
    margin-right: 40px;
    position: relative;
}

.popupBodyWrapper .infoDiv span.infoIcon:after{
    font-family: 'FontAwesome';
    content: '\f059';
    color: #cccccc;
    font-size: 10px;
    position: absolute;
    left: 0px;
    top: 3px;
    cursor: pointer;
}

.popupBodyWrapper .selectDiv{
    position: relative;
    float: right;
}

.popupBodyWrapper .selectDiv:after{
    font-family: 'FontAwesome';
    content: '\f0d7';
    color: #333333;
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 14px;
}

.popupBodyWrapper select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 160px;
    height: 18px;
    font-size: 10px;
    padding: 0 10px;
    border-radius: 3px;
}

.popupBodyWrapper .tinInput{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 160px;
    height: 18px;
    font-size: 10px;
    padding: 0 10px;
    border: 1px solid #aaa;
    border-radius: 3px;
    float: right;
}

.popupBodyWrapper .addMoreForeignResidences{
    width: 100%;
    text-align: right;
    margin-top: 10px;
}

.popupBodyWrapper .addMoreForeignResidences a{
    color: #333333;
    text-decoration: none;
    font-size: 10px;
    border-bottom: 1px solid #cccccc;
}

.popupBodyWrapper .modalPnlResetButton{
    position: absolute;
    bottom: 15px;
    left: 165px;
    height: 30px;
    width: 130px;
    border: 0;
    border-radius: 3px;
    background: #008441;
    color: #ffffff;
    font-size: 11px;
}

.popupBodyWrapper .modalPnlProcessButton{
    position: absolute;
    bottom: 15px;
    right: 165px;
    height: 30px;
    width: 130px;
    border: 0;
    border-radius: 3px;
    background: #008441;
    color: #ffffff;
    font-size: 11px;
}

.popupBodyWrapper .termsAndConditions{
    position: absolute;
    bottom: 75px;
    font-size: 11px;
}

.popupBodyWrapper .termsAndConditions input[type="checkbox"]{
    margin-left: -5px;
    margin-right: 5px;
}

.popupBodyWrapper .termsAndConditions label{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    cursor: pointer;
}

.popupBodyWrapper .modalMessages{
    position: absolute;
    top: 15px;
    width: calc(100% - 30px);
    font-size: 11px;
    margin-left: -10px;
}

.popupBodyWrapper .modalMessages ul{
    list-style: none;
}

.popupBodyWrapper .messageError{
    display: block;
    padding: 3px 15px 3px 50px;
    background: #f6d6a6;
}

.popupBodyWrapper .messageError:before{
    font-family: 'FontAwesome';
    position: absolute;
    top: 3px;
    content: '\f071';
    color: #ff0000;
    left: 25px;
    font-size: 14px;
}